APScheduler==3.6.3
convokit==2.3.0.3
Flask==1.1.1
Jinja2==2.10.1
nltk==3.4.5
numpy==1.17.3
pandas==0.25.1
pickleshare==0.7.5
praw==6.4.0
prawcore==1.0.1
regex==2017.4.5
requests==2.22.0
torch==1.3.1
tqdm==4.36.0
traitlets==4.3.2
tzlocal==2.0.0
ujson==1.35
urllib3==1.25.8
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
gevent==1.4.0
